.banner {
  z-index: 100;
}

#home {
  padding: 0;
  .scene {
    height: 95vh;
    background: #a8c5d5;
    overflow: hidden;
    // border: 1px solid black;
    .title {
      h1 {
        font-size: 70px;
      }
    }
    .script {
      text-align: center;
      position: relative;
      top: 45%;
      &.top-left {
        top: 0;
        text-align: left;
      }
    }
  }
}

#footer {
  height: 5vh;
}