.banner {
  z-index: 100;
}

.home {
  padding: 0;
  .scene {
    height: 100vh;
    overflow: hidden;
    background: #a8c5d5;
    text-align: left;
    &.title {
      // background: #74767a;
      background: #778cba;
      // z-index: 1000;
      h1 {
        text-align: center;
        font-size: 70px;
      }
    }
    .script {
      // left: 5%;
      width: 35%;
      text-align: right;
      position: relative;
      top: 45%;
      &.top-left {
        top: 0;
        text-align: left;
      }
    }
    .title-text {
      position: relative;
      top: 45%;
    }
  }
}

#footer {
  height: 5vh;
}