* {
  box-sizing: border-box;
}

#apply {
  text-decoration: none;
  color: white;
  &:hover {
    color: #a8c5d5;
  }
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  margin: 0 !important;
  color: white;
}

h3, h4, p {
  font-family: 'Quicksand', sans-serif;
  margin: 0 !important;
  color: #58595b;
}

small {
	font-family: 'quicksand', sans-serif;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Add your fractal Sass files below!
@import 'scenes';
@import 'journey';
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Quicksand);