#cloud1 {
	position: fixed;
	// opacity: 0.3;
	height: 15vh;
	width: auto;
	margin-left: -1200px;
	margin-top: 50px;
}

#cloud2 {
	position: fixed;
	// opacity: 0.5;
	height: 15vh;
	width: auto;
	margin-left: 100px;
	margin-top: 150px;
	z-index: 0;
}

#cloud3 {
	position: fixed;
	// opacity: 1;
	height: 30vh;
	width: auto;
	margin-left: -2000px;
	margin-bottom: 50px;
}

#cloud4 {
	position: fixed;
	// opacity: 0.7;
	height: 10vh;
	width: auto;
	margin-left: -200px;
	margin-bottom: 200px;
	z-index: 600;
}

#img3 {
	z-index: 500;
}

#apply {
  text-decoration: none;
  color: white;
  &:hover {
    color: #a8c5d5;
  }
}

#arrow {
	padding-left: 10%;
}

#scene7a {
	#img4 {
		height: 60vh;
		width: auto;
	}
}

#scene8 {
	#img5 {
		height: 45vh;
		width: auto;
	}
}

#scene10 {
	#img6 {
		height: 60vh;
		width: auto;
	}
}

#scene15 {
	background-image: url(../image/9-bg.svg);
	background-size: 100%;
}

#scene18 {
	#img11 {
		height: 60vh;
		width: auto;
	}
}