.img {
  height: 85vh;
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  img {
    display: block;
    height: 100%;
    width: 100%;
  }
}

.books {
	img {
		width: 100%;
		display: block;
	}
	width: 95px;
	position: fixed;
	right: 0;
	bottom: -1069px;
	z-index: 1000;
}

#scene1 {
  #text1 {
    right: -100%;
  }
}

#scene3 {
	#img2 {
		height: 70vh;
		width: auto;
	}
}

#scene6a {
	#text2 {
		left: -100%;
	}
}

#scene7a {
	#text3 {
		right: -100%;
	}
}

#scene8 {
	#img5 {
		height: 100vh;
		width: auto;
	}
	#text4 {
		left: -100%;
	}
}

#scene10 {
	#img6 {
		height: 60vh;
	}
	#text5{
		right: -100%;
	}
}

#scene11 {
	#text6{
		left: -100%;
	}
}

#scene13 {
	#text7 {
		right: -100%;
	}
}

#scene14 {
	#text8 {
		left: -100%;
	}
}

#scene15 {
	#text9 {
		right: -100%;
	}
}

#scene16 {
	#text10 {
		left: -100%;
	}
}

#scene18 {
	#text11 {
		right: -100%;
	}
}

#scene19 {
	#img12 {
		height: 70vh;
		width: auto;
	}
	#text12 {
		left: -100%;
	}
}

#scene21 {
	#text13 {
		right: -100%;
	}
}

#scene22 {
	#text14 {
		left: -100%;
	}
}

#scene24 {
	#text15 {
		right: -100%;
	}
}

#scene26 {
	#text16 {
		left: -100%;
	}
}

#scene28 {
	#text17 {
		right: -100%;
	}
}