.img {
  height: 70vh;
  position: fixed;
  margin: auto;
  left: 30%;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  img {
    display: block;
    height: 100%;
    width: 100%;
  }
}

.books {
	img {
		width: 100%;
		display: block;
	}
	width: 95px;
	position: fixed;
	right: 0;
	bottom: -1069px;
	z-index: 2000;
}

#scene7a {
	#img4 {
		height: 60vh;
		width: auto;
	}
}

#scene8 {
	#img5 {
		height: 45vh;
		width: auto;
	}
}

#scene10 {
	#img6 {
		height: 60vh;
		width: auto;
	}
}

#scene15 {
	background-image: url(../image/9-bg.svg);
	background-size: 100%;
}

#scene18 {
	#img11 {
		height: 60vh;
		width: auto;
	}
}