@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Quicksand);
* {
  box-sizing: border-box; }

#apply {
  text-decoration: none;
  color: white; }
  #apply:hover {
    color: #a8c5d5; }

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  margin: 0 !important;
  color: white; }

h3, h4, p {
  font-family: 'Quicksand', sans-serif;
  margin: 0 !important;
  color: #58595b; }

small {
  font-family: 'quicksand', sans-serif; }

.img {
  height: 70vh;
  position: fixed;
  margin: auto;
  left: 30%;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0; }
  .img img {
    display: block;
    height: 100%;
    width: 100%; }

.books {
  width: 95px;
  position: fixed;
  right: 0;
  bottom: -1069px;
  z-index: 2000; }
  .books img {
    width: 100%;
    display: block; }

#scene7a #img4 {
  height: 60vh;
  width: auto; }

#scene8 #img5 {
  height: 45vh;
  width: auto; }

#scene10 #img6 {
  height: 60vh;
  width: auto; }

#scene15 {
  background-image: url(../image/9-bg.svg);
  background-size: 100%; }

#scene18 #img11 {
  height: 60vh;
  width: auto; }

.banner {
  z-index: 100; }

.home {
  padding: 0; }
  .home .scene {
    height: 100vh;
    overflow: hidden;
    background: #a8c5d5;
    text-align: left; }
    .home .scene.title {
      background: #778cba; }
      .home .scene.title h1 {
        text-align: center;
        font-size: 70px; }
    .home .scene.prep .script {
      text-align: center; }
    .home .scene .script {
      width: 35%;
      text-align: right;
      position: relative;
      top: 45%; }
      .home .scene .script.top-left {
        top: 0;
        text-align: left; }
    .home .scene .title-text {
      position: relative;
      top: 45%; }

.footer {
  background: #a8c5d5;
  height: 35vh; }
  .footer h3 {
    color: white;
    border-bottom: 1px solid white; }
  .footer h4 {
    padding: 1%; }
  .footer .credit {
    padding: 2%;
    text-align: left;
    height: 100%; }
    .footer .credit img {
      width: 20%;
      height: auto; }
